.grid { display: grid; }

.layout {
  grid-template-columns: repeat(auto-fill, 12.5vw);
  grid-auto-rows: 12.5vw;
  grid-auto-flow: dense;
}

/**
 * Col and row spans
 */
.wide-1 { grid-column-end: span 1; }
.wide-2 { grid-column-end: span 2; }
.wide-3 { grid-column-end: span 3; }
.wide-4 { grid-column-end: span 4; }

.tall-1 { grid-row-end: span 1; }
.tall-2 { grid-row-end: span 2; }
.tall-3 { grid-row-end: span 3; }
.tall-4 { grid-row-end: span 4; }
