.grid { display: grid; }

/**
 * Grid Layout
 * Width = (width_of_grid - (gutters + padding)) / no_of_cols
 * Height = 1270 * width / 1000
 */
:root {
  --width: calc((100vw - 3rem) / 2);
  --height: calc(1270 * var(--width) / 1000);
}

.layout {
  grid-gap: 1rem;
  grid-auto-flow: dense;
  grid-template-columns: repeat(2, var(--width));
  grid-auto-rows: var(--height);
}

@media screen and (min-width: 30em) and (max-width: 60em) {
  :root { --width: calc((100vw - 4rem) / 3); }
  .layout { grid-template-columns: repeat(3, var(--width)); }
}

@media screen and (min-width: 60em) {
  :root { --width: calc((60em - 5rem) / 4); }
  .layout { grid-template-columns: repeat(4, var(--width)); }
}

/**
 * Col and row spans
 */
.wide-1 { grid-column-end: span 1; }
.wide-2 { grid-column-end: span 2; }

.tall-1 { grid-row-end: span 1; }
.tall-2 { grid-row-end: span 2; }

@media screen and (min-width: 30em) {
  .wide-1-ns { grid-column-end: span 1; }
  .wide-2-ns { grid-column-end: span 2; }
  .wide-3-ns { grid-column-end: span 3; }
}

@media screen and (min-width: 30em) and (max-width: 60em) {
  .wide-1-m { grid-column-end: span 1; }
  .wide-2-m { grid-column-end: span 2; }
  .wide-3-m { grid-column-end: span 3; }
}

@media screen and (min-width: 60em) {
  .wide-1-l { grid-column-end: span 1; }
  .wide-2-l { grid-column-end: span 2; }
  .wide-3-l { grid-column-end: span 3; }
}


.zoom {
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.3s ease-out;
}
.zoom:hover,
.zoom:focus { transform: scale(1.05); }
.zoom:active { transform: scale(1); }
