abbr[title] { text-decoration: none; }

.grid { display: grid; }

.layout {
  grid-gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
  /*grid-auto-rows: var(--height);*/
}

/**
 * Col and row spans
 */
.wide-1 { grid-column-end: span 1; }
.wide-2 { grid-column-end: span 2; }
.wide-3 { grid-column-end: span 3; }
.wide-4 { grid-column-end: span 4; }
.wide-5 { grid-column-end: span 5; }

.tall-1 { grid-row-end: span 1; }
.tall-2 { grid-row-end: span 2; }

@media screen and (min-width: 30em) {
  .wide-1-ns { grid-column-end: span 1; }
  .wide-2-ns { grid-column-end: span 2; }
  .wide-3-ns { grid-column-end: span 3; }
}

@media screen and (min-width: 30em) and (max-width: 60em) {
  .wide-1-m { grid-column-end: span 1; }
  .wide-2-m { grid-column-end: span 2; }
  .wide-3-m { grid-column-end: span 3; }
}

@media screen and (min-width: 60em) {
  .wide-1-l { grid-column-end: span 1; }
  .wide-2-l { grid-column-end: span 2; }
  .wide-3-l { grid-column-end: span 3; }
}
