/**
 * Main layout for the entire page
 */
.matchday {
  grid-column-gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-areas:
    "✈️"
    "⚽️"
    "🖼"
    "👀"
    "🗂"
    "📋";
}

@media screen and (min-width: 60em) and (max-width: 80em) {
  .matchday {
    grid-template-columns: 1fr 18rem 40rem 1fr;
    grid-template-areas:
      "✈️ ✈️ ✈️ ✈️"
      "⚽️ ⚽️ ⚽️ ⚽️"
      "🖼 🖼 🖼 🖼"
      ".  👀 📋  .";
  }
}
@media screen and (min-width: 80em) {
  .matchday {
    grid-template-columns: 1fr 18rem 40rem 18rem 1fr;
    grid-template-rows: auto auto auto auto 1fr;
    grid-template-areas:
      "✈️ ✈️ ✈️ ✈️ ✈️"
      "⚽️ ⚽️ ⚽️ ⚽️ ⚽️"
      "🖼 🖼 🖼 🖼 🖼"
      ".  👀 📻 📊  ."
      ".  👀 📻 🤼  .";
  }
}

.content-measure { width: 100%; }
@media screen and (min-width: 60em) and (max-width: 80em) { .content-measure { width: 59rem; } }
@media screen and (min-width: 80em) { .content-measure { width: 78rem; } }


/**
 * areas
 */
.a-✈️ { grid-area: ✈️; }
.a-⚽️ { grid-area: ⚽️; }
.a-🖼 { grid-area: 🖼; }
.a-👀 { grid-area: 👀; }
.a-📻 { grid-area: 📻; }
.a-📊 { grid-area: 📊; }
.a-🤼 { grid-area: 🤼; }
.a-📋 { grid-area: 📋; }

@media screen and (min-width: 30em) { .a-📋-ns { grid-area: 📋; } }
@media screen and (min-width: 30em) and (max-width: 60em) { .a-📋-m { grid-area: 📋; } }
@media screen and (min-width: 60em) and (max-width: 80em) { .a-📋-l { grid-area: 📋; } }
@media screen and (min-width: 80em) {
  .a-📊-xl { grid-area: 📊; }
  .a-🤼-xl { grid-area: 🤼; }
  .a-📻-xl { grid-area: 📻; }
}


/**
 * Layout for overview
 */
.overview {
  grid-template-columns: 1fr auto auto 1fr;
  grid-gap: 0.5rem;
}


/**
 * Layout for commentary post
 */
@media screen and (min-width: 30em) and (max-width: 60em) {
  .post {
    grid-template-columns: 3rem 1fr;
    grid-column-gap: 1rem;
  }
}

@media screen and (min-width: 60em) {
  .post {
    grid-template-columns: 3rem 1fr 3rem;
    grid-column-gap: 1rem;
  }
}


/**
 * Uitls
 */
abbr[title] { text-decoration: none; }
.grid { display: grid; }
.j-self-end { justify-self: end; }
.j-self-center { justify-self: center; }
.list--square { list-style-type: square; }
.rot { transform: rotate(10deg); transform-origin: 50% 50%; }
@media screen and (min-width: 30em) {
  .bg-transparent-ns { background-color: transparent; }
  .grid-ns { display: grid; }
}
@media screen and (min-width: 60em) and (max-width: 80em) { .sticky-l { position: sticky; } }
@media screen and (min-width: 80em)  {
  .sticky-xl { position: sticky; }
  .nt5-xl { margin-top: -4rem; }
  .dn-xl { display: none; }
  .db-xl { display: block; }
  .pt0-xl { padding-top: 0; }
  .pt3-xl { padding-top: 1rem; }
  .pt5-xl { padding-top: 4rem; }
  .bb-xl { border-bottom-style: solid; border-bottom-width: 1px; }
}

/**
 * Offsets
 */
.ho1 { grid-column-start: 2; }
.ho2 { grid-column-start: 3; }
.ho3 { grid-column-start: 4; }
.ho4 { grid-column-start: 5; }
.ho5 { grid-column-start: 6; }

/**
 * Col and row spans
 */
.hs1 { grid-column-end: span 1; }
.hs2 { grid-column-end: span 2; }
.hs3 { grid-column-end: span 3; }
.hs4 { grid-column-end: span 4; }
.hs5 { grid-column-end: span 5; }
.hs--end { grid-column-end: -1; }
.hs--full { grid-column: 1 / -1; }

.vs1 { grid-row-end: span 1; }
.vs2 { grid-row-end: span 2; }

@media screen and (min-width: 30em) {
  .hs1-ns { grid-column-end: span 1; }
  .hs2-ns { grid-column-end: span 2; }
  .hs3-ns { grid-column-end: span 3; }
}

@media screen and (min-width: 30em) and (max-width: 60em) {
  .hs1-m { grid-column-end: span 1; }
  .hs2-m { grid-column-end: span 2; }
  .hs3-m { grid-column-end: span 3; }
}

@media screen and (min-width: 60em) {
  .hs1-l { grid-column-end: span 1; }
  .hs2-l { grid-column-end: span 2; }
  .hs3-l { grid-column-end: span 3; }
}

@media screen and (min-width: 30em) {
  .inset-shadow-ns:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-image: linear-gradient(180deg,rgba(0, 0, 0, 0),rgba(18, 18, 18, 0.1) 30%,rgba(18, 18, 18, 0.6) 45%,rgba(18, 18, 18, 0.9) 65%,#121212 90%);
  }

}
